<p style="color: green"><%= notice %></p>
<div class="flex items-center justify-between mb-5">
  <h1 class="main-title"><%= @budget.title %></h1>
  <% if @budget.needs_reconciliation?%>
  <div id="alert-1" class="flex p-4 max-w-lg rounded-lg bg-amber-50 text-amber-700 items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
      <path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
    </svg>
    <span class="sr-only">Info</span>
    <p class="ml-3 text-sm font-medium" data-testid=>
      There's a mismatch in your any of the 
      <span> <%= link_to "budget's accounts.", accounts_path, class: 'underline hover:text-amber-800' %></span>
      You may need to reconcile it.
    </p>
  </div>
  <% end %>
  <div class="flex items-center justify-around">
    <%= link_to "Create movement", movements_new_path({ movement: { created_at: @current_month }}), class: "btn-primary" %>
    <%= link_to "Edit this budget", edit_budget_path(@budget), class: "btn-primary ml-3" %>
  </div>
</div>
<div class="grid grid-cols-2 gap-4">
  <section class="p-2">
    <div class="flex items-center justify-start mb-2">
      <% if @budget.ready_to_assign.cents > 0 %>
        <div id="alert-1" class="flex flex-1 p-4 mb-4 text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 min-w-[80%]" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div class="ml-3 text-sm font-medium">
            There are movements ready to budget <span class="font-semibold underline hover:no-underline">
              <%= humanized_money_with_symbol @budget.ready_to_assign %>
            </span>
          </div>
        </div>
      <% elsif  @budget.ready_to_assign.cents < 0 %>
        <div id="alert-2" class="flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 min-w-[80%]" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div class="ml-3 text-sm font-medium">
            Your budget is overspent.  <span class="font-semibold underline hover:no-underline">
              <%= humanized_money_with_symbol @budget.ready_to_assign %>
            </span>
          </div>
        </div>
      <% end %>
      <%= form_with url: "#{budget_url(@budget)}", class: 'ml-2 first:ml-0', method: :get do |form| %>
        <%= select_month(@current_month, {},
                         {
                           field_name: 'month',
                           onchange: 'this.form.requestSubmit()',
                           class: 'rounded-md border-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 mb-5 '
                         }) %>
      <% end %>
    </div>
    <div class="flex items-center mb-2">
      <h3 class="subtitle flex-1 min-w-[70%]">Categories</h3>
      <h5 class="grow-0 min-w-[15%] text-right">Assigned</h3>
      <h5 class="grow-0 min-w-[15%] text-right max-w-">Available to spend</h3>
    </div>
    <% @budget.categories.each do |category| %>
      <% if category.id != @budget.ready_to_assign_category_id %>
        <%= render category, locals: { current_month: @current_month } %>
      <% end %>
    <% end %>
    <div class="flex justify-start mt-4 gap-2">
      <%= link_to "Create category", new_budget_category_path(@budget), class: "btn-primary" %>
    </div>
  </section>
  <section>
    <h3 class="mb-5 subtitle">Uncategorized movements</h3>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Description
            </th>
            <th scope="col" class="px-6 py-3">
              Amount
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Account
            </th>
            <th scope="col" class="px-6 py-3">
              Transfer to
            </th>
            <th scope="col" class="px-6 py-3">
              Date
            </th>
          </tr>
        </thead>
        <tbody>
          <% @budget.uncategorized_movements_in(@current_month).each do |movement| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-normal dark:text-white">
                <%= movement.description %>
              </th>
              <td class="px-6 py-4">
                <%= humanized_money_with_symbol movement.amount %>
              </td>
              <td class="px-6 py-4">
                <%= form_for [movement.account, movement] do |f| %>
                  <%= f.collection_select(:category_id, @budget.categories, :id, :name, { prompt: true }, { onchange: "this.form.requestSubmit()"}) %>
                  <%= f.hidden_field(:date, { value: @current_month}) %>
                <% end %>
              </td>
              <td class="px-6 py-4">
                <%= movement.account.name %>
              </td>
              <td class="px-6 py-4">
                <%= form_for [movement.account, movement] do |f| %>
                  <%= f.collection_select(:transfer_to_account_id, @budget.accounts, :id, :name, {prompt: true }, { onchange: 'this.form.requestSubmit()' }) %>
                  <%= f.hidden_field(:date, { value: @current_month}) %>
                <% end %>
              </td>
              <td class="px-6 py-4">
                <%= time_tag movement.created_at %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
