<div id="<%= dom_id category %>">
  <div class="flex items-center mb-1">
    <div class="text-base font-medium flex-1 min-w-[70%]">
      <%= category.name %>
    </div>
    <span class="text-sm font-medium grow-0 min-w-[15%] text-right">
      <%= form_for [@budget, category] do |f| %>
        <%= f.text_field :assigned_amount_cents, onchange: 'this.form.submit()', class: 'w-full' %>
      <% end %>
    </span>
    <span class="text-sm font-medium grow-0 min-w-[15%] text-right">
      <%= humanized_money_with_symbol category.target_amount %>
    </span>
  </div>
  <div class="flex items-center">
    <div class="flex-1">
      <div class="bg-gray-200 rounded-full mb-4 dark:bg-gray-700">
        <div class="bg-green-600 rounded-full dark:bg-green-500 text-white text-center"
       style="width: <%= category.funded_percentage %>%">
          <%= humanized_money_with_symbol category.assigned_amount %>
        </div>
      </div>
    </div>
  </div>
</div>
