
<div id="<%= dom_id category %>">
  <div class="flex items-center mb-3">
    <div class="text-base font-medium flex-1 min-w-[70%]">
      <%= category.name %>
    </div>
    <span class="text-sm font-medium grow-0 min-w-[15%] text-right">
      <div class="flex items-center">
         <%= text_field :assignment, :amount,
            'data-controller' => "assignment",
            'data-assignment-target' => "source",
            'data-action' => "change->assignment#apply",
            'data-assignment-url-value' => monthly_assignment_url(category.assignment_for_month(@current_month)),
            class: 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'
          %>
        <div class='ml-3'>
          <%= currency_symbol %>
        </div>
      </div>
    </span>
    <span class="text-sm font-medium grow-0 min-w-[15%] text-right">
      <% available_to_spend = category.available_to_spend_in(@current_month) %>
      <% if available_to_spend > 0 %>
        <span class="bg-caper-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded-full"><%= humanized_money_with_symbol available_to_spend %></span>
      <% elsif available_to_spend < 0 %>
        <span class="bg-new-york-pink-300 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded-full"><%= humanized_money_with_symbol available_to_spend %></span>
      <% else %>
        <span class="text-sm bg-gray-100 font-medium mr-2 px-2.5 py-0.5 rounded-full"><%= humanized_money_with_symbol available_to_spend %></span>
      <% end %>
    </span>
  </div>
  <div class="flex items-center">
    <div class="flex-1">

      <% base_bar_class = ""  %>
      <% if category.pristine?(@current_month) %>
        <% base_bar_class = "bg-gray-200" %>
      <% elsif category.fully_spent?(@current_month) || category.in_spending?(@current_month) || category.funded?(@current_month) %>
        <% base_bar_class = "bg-caper-400"  %>
      <% elsif category.overspent?(@current_month) %>
        <% base_bar_class = "bg-new-york-pink-300"  %>
      <% else %>
        <% base_bar_class = "bg-gray-200" %>
      <% end %>

      <div class="z-10 mb-3 rounded-full <%= base_bar_class %>">
        <% spend_bar_class = ""  %>
        <% if category.fully_spent?(@current_month) %>
          <% spend_bar_class = "bg-green-light-striped-pattern"  %>
        <% elsif category.in_spending?(@current_month) %>
          <% spend_bar_class = "bg-green-striped-pattern"  %>
        <% elsif category.overspent?(@current_month) %>
          <% spend_bar_class = "bg-new-york-pink-300"  %>
        <% end %>

        <div class="z-0 bg-gray-200 text-center h-2 rounded-full <%= spend_bar_class %>"
             style="width: <%= category.spent_percentage_in_month(@current_month).clamp(0.0,100.0) %>%">
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-start mb-3">
    <div class="text-sm text-left text-gray-600 font-medium flex-1 min-w-[70%]">
      <% if category.overspent?(@current_month) %>
        <span>Overspent.</span>
        <span> Assign <%= humanized_money_with_symbol category.available_to_spend_in(@current_month).abs %> more</span>
      <% elsif category.pristine?(@current_month) %>
        <span>Assign money to start tracking</span>
      <% elsif category.fully_spent?(@current_month) %>
        <span>Fully Spent</span>
      <% elsif category.funded?(@current_month) %>
        <span>Funded</span>
        <% if category.spent_amount_in_month(@current_month) > 0 %>
          <span>. Spent <%= humanized_money_with_symbol category.spent_amount_in_month(@current_month) %> of <%= humanized_money_with_symbol category.assigned_amount_in(@current_month) %></span>
        <% end %>
      <% else %>
        <span>Needs Funding</span>
      <% end %>
    </div>
  </div>
</div>
