<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  </p>
    <strong>Intitution:</strong>
    <%= account.institution.name %>
    <%= image_tag(account.institution.thumbnail_url, class: "account_thumbnail") %>
  </p>

  <% if !account.authenticated? %>
   <%= button_to "Authenticate", account_auth_sessions_path(account), data: { turbo: false } %>
  <% else %>
   <%= button_to "Sync movements", account_sync_path(account) %>
  <% end %>
</div>
