    <!-- Dropdown menu -->
<div id="<%= dom_id account %> "class="p-4 w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow  ">
  
<% if (account.reported_balance.cents.abs - account.balance.cents.abs) != 0 %>
 <div id="alert-additional-content-4" class="p-4 mb-4 text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50   " role="alert">
  <div class="flex items-center">
    <svg class="flex-shrink-0 w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <h3 class="text-lg font-medium">There's a balances mismatch</h3>
  </div>
  <p class="mt-2 mb-4 text-sm">Your account needs to be reconcile to match the reported balance and the computed balance.</p>
  <p class="mt-2 mb-4 text-sm">Reported balance: <%= humanized_money_with_symbol account.reported_balance %></p>
  <p class="mt-2 mb-4 text-sm">Compute balance: <%= humanized_money_with_symbol account.balance %></p>
  <div class="flex justify-end">
    <%= link_to "Reconcile", movements_new_path({ movement: { created_at: @current_month, account_id: account.id, amount: Money.new(account.reported_balance.cents - account.balance.cents, "EUR"), description: 'Renconciliation movement', payer: 'Reconciliation movement' }}), class: "text-white bg-yellow-800 hover:bg-yellow-900 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center    " %>
  </div>
 </div>
<% end %>

 <div class="flex justify-end px-4 pt-4">
    <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500  hover:bg-gray-100  focus:ring-4 focus:outline-none focus:ring-gray-200  rounded-lg text-sm p-1.5" type="button">
      <span class="sr-only">Open dropdown</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
    </button>
    <!-- Dropdown menu -->
  </div>
  <div class="flex flex-col items-center pb-10">
    <%= image_tag(account.institution.thumbnail_url, class: "w-24 h-24 mb-3 rounded-full shadow-lg", skip_pipeline: true) %>
    <h5 class="mb-1 text-xl font-medium text-gray-900 ">
      <%= account.name %>
    </h5>
    <span class="text-sm text-gray-500 ">
      <%= account.balance || 0 %> €
    </span>
    <div class="flex mt-4 space-x-3 md:mt-6">
      <% if !account.authenticated? %>
        <%= button_to "Authenticate", account_auth_sessions_path(account), data: { turbo: false } %>
      <% else %>
        <%= button_to "Sync movements", account_sync_path(account), form_class: "btn-primary" %>
      <% end %>
      <%= link_to "Show Account", account_path(account), class: "inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200      " %>
    </div>
  </div>
</div>
